body{
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
}
.nav_list{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{
     @include navStyle;
    }
    .btn-header{
        @include btnHeader;
    }
    .nav-list-imgs{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}
