.section-main {
    @include elementStyle (95%,flex,center,center){
        margin: auto;
        margin-bottom: 30px
    }
    .left {
        width: 50%;

        .left-top {
            width: 92%;
            margin-left: 13px;
            background-image: url("../../image/Vector.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 60vh;
            position: relative;

            img {
                width: 85%;
                position: absolute;
                left: 42px;
                top: 70px;

            }
        }

        .left-middle {
            @include elementStyle(100%, flex, space-between, center){
                gap: 28px;
                padding: 20px 0;
            }
          

            p {
                @include paragraphStyle;

            }

            img {
                width: 68px;
                height: 31px;
            }
        }

        .left-bottom {
            width: 100%;
            text-align: center;
            padding-bottom: 20px;

            img {
                width: 95%;
                height: 436px;

            }

        }

    }

    .right {
        width: 50%;

        .right-top {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 24px 75px 15px 78px;

            h1 {
                text-align: center;
                font-size: 58px;
                font-style: normal;
                font-weight: 400;
                line-height: 64.512px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
            }
        }

        .right-bottom {
            width: 100%;
            text-align: center;

            img {
                width: 95%;
                height: 640px;
            }
        }
    }
}

.scorp {
    @include elementStyle(95%, flex, space-between,center){
        margin: auto;
        margin-bottom: 90px
    }

    h2 {
        text-align: center;
        color: #000;
        font-size: 65px;
        font-style: normal;
        font-weight: 400;
        line-height: 72.576px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }

    img {
        width: 225px;
        height: 156px;
    }
}

.image {
    @include elementStyle(95%, flex, space-between, center){
        margin: auto;
        gap: 358px;
    }

}

.paper {
   @include elementStyle (100%, flex, space-between, center){
    margin: auto;
    margin-bottom: 40px;
   }
   
    p {
        @include paragraphMain;
    }
}